<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>500px Auth Key</key>
	<string>Q2gcclUR8FgHs9bBsaXTWFZA8XT8rZOpM89xGNDA</string>
	<key>Persistent Container Name</key>
	<string>Memory_Game</string>
</dict>
</plist>
